<h1>announcement bar</h1>
{% schema %}
  {
    "name": "t:sections.announcement-bar.name",
    "max_blocks": 12,
    "class": "announcement-bar-section",
    "enabled_on": {
      "groups": ["header"]
    },
    "settings": [],
    "blocks": [],
    "presets": []
  }
{% endschema %}