<div class="">
  <h1 class="text-4xl font-bold text-center">{{ collection.title | escape }}</h1>
</div>
{% schema %}
  {
    "name": "t:sections.main-collection-banner.name",
    "class": "section"
  }
{% endschema %}    